In [3]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
import os
os.getcwd()

'C:\\Users\\dreyl2'

In [46]:
df = pd.read_csv("midterm_train.csv")

In [47]:
df

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,11.89%,54734,80364,"$25,000","$25,000","$19,080",36 months,829.10,B,B4,...,0,0,0,11-Oct,7392.08,NaN,12-Aug,0,NaN,1
1,10.71%,55742,114426,"$7,000","$7,000",$673,36 months,228.22,B,B5,...,0,0,0,11-Jun,228.48,NaN,12-Aug,0,NaN,1
2,16.99%,57167,137225,"$25,000","$25,000","$24,725",36 months,891.20,D,D3,...,44.56,0,0,14-Dec,935.76,NaN,15-Apr,0,NaN,1
3,13.57%,57416,139635,"$10,800","$10,800","$10,692",36 months,366.86,C,C3,...,0,0,0,12-Nov,398,NaN,15-Jun,0,NaN,1
4,19.05%,58524,149512,"$7,200","$7,200","$7,200",36 months,264.11,D,D4,...,0,0,0,14-Jun,3559.18,NaN,14-Dec,0,30,1
5,14.26%,59006,154254,"$3,000","$3,000","$2,988",36 months,102.92,C,C5,...,0,0,0,12-Oct,111.23,NaN,12-Sep,0,NaN,1
6,7.88%,61390,182594,"$4,000","$4,000","$3,900",36 months,125.13,A,A5,...,0,0,0,12-Mar,1454.31,NaN,12-Mar,0,NaN,1
7,9.88%,62102,191024,"$3,200","$3,200","$3,200",36 months,103.08,B,B1,...,0,0,0,11-Feb,2592.23,NaN,13-Mar,0,NaN,1
8,11.14%,65426,232106,"$4,000","$4,000","$3,892",36 months,131.22,B,B1,...,0,0,0,11-Jun,131.22,NaN,11-Oct,0,NaN,1
9,12.21%,66431,243540,"$2,525","$2,525","$2,375",36 months,84.12,B,B5,...,0,0,0,12-Mar,89.75,NaN,12-Mar,0,NaN,1
10,13.47%,66749,246329,"$10,625","$10,625","$5,325",36 months,360.43,C,C4,...,0,0,0,12-Jan,370.44,NaN,11-Dec,0,NaN,1
11,13.24%,66964,247990,"$7,500","$7,500",$986,36 months,253.58,D,D3,...,0,0,0,11-Jun,253.87,NaN,11-Jun,0,NaN,1
12,8.59%,67503,252415,"$10,000","$10,000","$10,000",36 months,316.11,A,A4,...,0,0,0,12-Feb,3064.45,NaN,14-Feb,0,NaN,1
13,7.14%,68163,258249,"$3,000","$3,000","$3,000",36 months,92.82,A,A3,...,0,0,0,13-Feb,97.75,NaN,13-Feb,0,NaN,1
14,8.63%,68381,260179,"$6,625","$6,625","$6,475",36 months,209.54,A,A5,...,0,0,0,11-Mar,424.12,NaN,15-Mar,0,NaN,1
15,11.03%,68817,264119,"$10,000","$10,000","$2,475",36 months,327.53,C,C1,...,0,0,0,10-Sep,23.15,NaN,10-Sep,0,NaN,1
16,NaN,68926,264924,"$2,300","$2,300",$590,36 months,77.69,D,D2,...,0,0,0,11-Sep,77.78,NaN,15-Jun,0,NaN,1
17,8.94%,69001,265533,"$15,000","$15,000","$14,875",36 months,476.58,A,A5,...,0,0,0,12-Jul,1919.13,NaN,12-Jul,0,NaN,1
18,10.39%,69124,266619,"$18,000","$18,000","$11,636",36 months,584.12,B,B4,...,0,0,0,11-Apr,598.22,NaN,15-Jun,0,NaN,1
19,15.13%,69168,266943,"$5,000","$5,000","$4,975",36 months,173.65,E,E4,...,0,0,0,11-Apr,184.81,NaN,13-Dec,0,NaN,1
20,8.00%,69251,267771,"$6,000","$6,000",$500,36 months,188.02,A,A3,...,14.99680885,0,0,11-May,189.36,NaN,11-May,0,NaN,1
21,15.33%,69550,270212,"$11,200","$11,200","$11,188",60 months,268.40,D,D3,...,0,0,0,14-Aug,2816.71,NaN,15-Jun,0,NaN,1
22,8.63%,69828,272798,"$15,000","$15,000","$13,138",36 months,474.42,A,A5,...,94.80505999,0,0,11-Aug,38.2,NaN,11-Aug,0,NaN,1
23,13.55%,69924,274280,"$10,000","$10,000","$8,790",36 months,339.60,D,D4,...,0,0,0,11-Apr,359.55,NaN,15-Jun,0,NaN,1
24,NaN,69990,275254,"$15,500","$15,500","$14,400",36 months,484.85,A,A5,...,0,0,0,13-Feb,472.56,NaN,13-Feb,0,NaN,1
25,12.29%,70348,280311,"$9,600","$9,600","$9,265",36 months,320.19,C,C5,...,0,0,0,10-May,3773.06,NaN,15-Jun,0,NaN,1
26,9.01%,76597,76583,"$5,000","$5,000","$1,775",36 months,159.03,B,B2,...,0,0,0,10-Jul,160.61,NaN,10-Jul,NaN,NaN,1
27,7.43%,84918,84914,"$5,000","$5,000","$2,025",36 months,155.38,A,A2,...,0,0,0,8-Apr,4268.52,NaN,7-Jun,NaN,NaN,1
28,7.43%,88854,70699,"$5,000","$5,000",$225,36 months,155.38,A,A2,...,0,0,0,8-Mar,0,NaN,7-May,NaN,NaN,1
29,7.43%,90376,89243,"$5,000","$5,000",$650,36 months,155.38,A,A2,...,0,0,0,8-Jan,0,NaN,7-Jun,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324447,8.19%,37840854,40603714,"$7,000","$7,000","$7,000",36 months,219.97,A,A5,...,0,0,0,15-Jun,219.97,15-Jul,15-Jun,0,64,1
324448,19.24%,37840885,40603759,"$35,000","$35,000","$35,000",36 months,1287.22,E,E2,...,0,0,0,15-Jun,1287.22,15-Jul,15-Jun,0,NaN,1
324449,11.99%,37840979,40603881,"$20,000","$20,000","$20,000",36 months,664.20,B,B5,...,0,0,0,15-Jun,664.2,15-Jul,15-Jun,0,NaN,1
324450,12.99%,37841007,40603919,"$15,000","$15,000","$15,000",36 months,505.34,C,C2,...,0,0,0,15-Jun,505.34,15-Jul,15-Jun,0,NaN,1
324451,8.19%,37841045,40603969,"$19,200","$19,200","$19,200",36 months,603.35,NaN,NaN,...,0,0,0,15-Jun,603.35,15-Jul,15-Jun,0,NaN,1
324452,19.24%,37841134,40604074,"$14,000","$14,000","$14,000",60 months,365.02,E,E2,...,18.25,0,0,15-Jun,383.27,15-Jul,15-Jun,0,NaN,1
324453,8.67%,37841174,40604121,"$12,500","$12,500","$12,500",60 months,257.49,B,B1,...,0,0,0,15-Jun,257.49,15-Jul,15-Jun,0,NaN,1
324454,16.49%,37841183,40604130,"$6,000","$6,000","$6,000",36 months,212.40,D,D3,...,0,0,0,15-Jun,212.4,15-Jul,15-Jun,0,NaN,1
324455,6.99%,37841237,40604193,"$28,000","$28,000","$28,000",36 months,864.44,A,A3,...,0,0,0,15-Jun,864.44,15-Jul,15-Jun,0,NaN,1
324456,19.24%,37841276,40604243,"$16,750","$16,750","$16,750",36 months,616.03,E,E2,...,0,0,0,15-Feb,16665.52,NaN,15-Mar,0,NaN,1
324457,10.49%,37841307,40604282,"$9,600","$9,600","$9,600",36 months,311.98,B,B3,...,0,0,0,15-Jun,311.98,15-Jul,15-Jun,0,42,1
324458,15.59%,37841314,40604289,"$1,000","$1,000","$1,000",36 months,34.96,D,D1,...,0,0,0,15-Jun,34.96,15-Jul,15-Jun,0,NaN,1
324459,8.19%,37841343,40604323,"$8,000","$8,000","$8,000",36 months,251.40,A,A5,...,0,0,0,15-Jun,251.4,15-Jul,15-Jun,0,NaN,1
324460,9.49%,37841350,40604331,"$26,000","$26,000","$26,000",36 months,832.74,B,B2,...,0,0,0,15-Jun,832.74,15-Jul,15-Jun,0,59,1
324461,7.49%,37841375,40604359,"$7,000","$7,000","$7,000",36 months,217.72,A,A4,...,0,0,0,15-Jun,217.72,15-Jul,15-Jun,0,NaN,1
324462,9.49%,37841428,40604426,"$4,000","$4,000","$4,000",36 months,128.12,B,B2,...,0,0,0,15-Jun,128.12,15-Jul,15-Jun,0,NaN,1
324463,11.99%,37841429,40604427,"$24,000","$24,000","$24,000",36 months,797.03,B,B5,...,0,0,0,15-Jun,797.03,15-Jul,15-Jun,0,NaN,1
324464,8.67%,37841472,40604475,"$10,000","$10,000","$10,000",36 months,316.47,NaN,NaN,...,0,0,0,15-Jun,316.47,15-Jul,15-Jun,0,NaN,1
324465,19.24%,37841535,40604556,"$11,000","$11,000","$11,000",60 months,286.81,E,E2,...,0,0,0,15-May,286.81,15-Jul,15-Jun,1,NaN,1
324466,12.39%,37841552,40604575,"$8,000","$8,000","$8,000",36 months,267.21,NaN,NaN,...,0,0,0,15-Jun,267.21,15-Jul,15-Jun,0,NaN,1
324467,NaN,37841570,40604594,"$24,000","$24,000","$24,000",60 months,616.52,NaN,NaN,...,0,0,0,15-Jun,616.52,15-Jul,15-Jun,0,51,1
324468,11.44%,37841594,40604621,"$11,000","$11,000","$11,000",36 months,362.43,B,B4,...,0,0,0,15-Jun,362.43,15-Jul,15-Jun,0,NaN,1
324469,14.99%,37841668,40604701,"$28,000","$28,000","$28,000",36 months,970.50,C,C5,...,0,0,0,15-Jun,970.5,15-Jul,15-Jun,0,13,1
324470,10.49%,37841841,40604912,"$5,500","$5,500","$5,500",36 months,178.74,B,B3,...,0,0,0,15-Jun,178.74,15-Jul,15-Jun,0,NaN,1
324471,15.59%,37842129,40605224,"$21,425","$21,425","$21,425",60 months,516.36,D,D1,...,0,0,0,15-Jun,516.36,15-Jul,15-Jun,0,74,1
324472,8.19%,37854137,40616855,"$4,000","$4,000","$4,000",36 months,125.70,A,A5,...,0,0,0,15-Jun,125.7,15-Jul,15-Jun,0,NaN,1
324473,11.44%,37854157,40616878,"$12,000","$12,000","$12,000",36 months,395.37,B,B4,...,0,0,0,15-Jun,395.37,15-Jul,15-Jun,0,35,1
324474,15.99%,37854423,40617173,"$2,000","$2,000","$2,000",36 months,70.31,D,D2,...,0,0,0,15-Jun,70.31,15-Jul,15-Jun,0,NaN,1
324475,11.44%,37854444,40617199,"$16,000","$16,000","$16,000",60 months,351.40,NaN,NaN,...,0,0,0,15-Jun,351.4,15-Jul,15-Jun,0,NaN,1
324476,12.39%,38098114,40860827,"$15,000","$15,000","$15,000",60 months,336.64,C,C1,...,0,0,0,15-Jun,336.64,15-Jul,15-Jun,0,NaN,1

In [48]:
df['Sub_Loan_Grade'].fillna("Missing", inplace=True)

In [49]:
dummies = pd.get_dummies(df['Sub_Loan_Grade'], prefix = 'Sub_Loan_Grade')
df = pd.concat([df, dummies], axis = 1)
df.drop(['Sub_Loan_Grade'], axis=1, inplace=True)

In [51]:
df.drop(['Loan_Grade'], axis=1, inplace=True)
df.drop(['Employer'], axis=1, inplace=True)